@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/css/SA-logo.png" /> 
    <h1 class="h-1">Witaj w ShipmentAssistant !</h1>
    <p> Zanim zaczniesz pracę z aplikacją przygotuj plik dostawy.<br>
        Plik musi spełniać następujące kryteria:<br></br>
        1) musi mieć format Microsoft Excel.<br></br>
        2) musi posiadać cztery kolumny zawierające kolejno: liczbę porządkową,<br></br> kod produktu, nazwę produktu i na końcu ilość zamówionego towaru.<br></br>
        3) W pierwszym wierszu muszą znajdować się nagłowki kolumn.<br></br>
        4) Tabela w arkuszu musi przylegać do lewej górnej krawędzi arkusza. <br></br>
        5) Koluma  z liczbą porządkową może być pusta, jednak i tak musi otrzyamć nagłowek <br></br><br></br>
        Przykład dobrze wykonanego nagłówka tabeli znajduje się poniżej:<br></br>
        </p>
    <img src="~/css/PrzykładDobrzePrzygotowane tabeli .png" /><br></br>
    <h3>Aby rozpocząć pracę z aplikacją zaloguj lub zarejestruj się</h3>
</div>
